

body {
    background-color: #ff91f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fcc0ef;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    text-align: center;
}

header h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(177, 5, 148);
}

.display input {
    width: calc(100% - 20px);
    margin: 0 auto 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.keys button {
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.keys button:hover {
    background-color: #e0e0e0;
}

.equal {
    grid-column: span 2;
}

.result {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}
